body{
    background-color:#07c5ff;
}
h1{
    text-align: center;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.38); /*Le da una sobra al objeto*/
    background-color: #12e2b59e ;
    border-radius: 20px;/*Redondea el ojeto*/
}
.clearDisplay{
    display: grid; /*Configura el espacio por filas y columnas*/
    grid-template-rows: auto; /*1 fila*/
    grid-template-columns: auto auto; /*2 columnas*/
}
#clear{
    margin: auto; /* Margen a los 4 lados */
}
#clearAll{
    margin: auto; /* Margen a los 4 lados */
}
.calculator .buttons{
    display: grid;/*Configura el espacio por filas y columnas*/
    grid-template-columns: repeat(4, auto); /*4 columnas*/
    grid-template-rows: repeat(3,auto);/*3 filas*/
}
.calculator #display { /*Configura el display de la calculadora*/
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border-radius: 25px;
}
.calculator input[type="button"], input[type="submit"], .operationExtra{
    width: 66px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}
/*CSS de colores del display y de los botones, segun sus modos
hover - pasas por encima del objeto
active - le das click*/
.calculator #display{
    background-color: #8cecce;
}
.calculator #equal{
    background-color: #a257ab;
} 
.calculator #equal:hover{
    background-color: #9c08ac;
} 
.calculator #equal:active{
    background-color: #e600fff7;
}

.calculator #clearAll{
    background-color: #5fca5d;
} 
.calculator #clearAll:hover{
    background-color: #156a14af;
} 
.calculator #clearAll:active{
    background-color: #5fe80a;
}

.calculator #clear{
    background-color: #fa4c4ce4;
} 
.calculator #clear:hover{
    background-color: #981919e4;
} 
.calculator #clear:active{
    background-color: #f20f0fe4;
}

.calculator #point{
    background-color: #ecf47e;
} 
.calculator #point:hover{
    background-color: #828a11af;
} 
.calculator #point:active{
    background-color: #e5f411d1;
}

.calculator .number{
    background-color: #2b5cc7;
} 
.calculator .number:hover{
    background-color: #0a41b7;
} 
.calculator .number:active{
    background-color: #4d80ef;
}

.calculator .operation{
    background-color: #de1e48;
}
.calculator .operation:hover{
    background-color: #980727;
}
.calculator .operation:active{
    background-color: #ed234f;
}