h1{
    text-align: center;
}

/* Objketos grandes, div's y etc */
body{
    background-color: #7cc4ede2;
}
.table div{
    padding: 2px;
    margin: 2px 3px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;/*Redondea el ojeto*/
}
.table{
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-template-columns: repeat(8, auto);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.38); /*Le da una sobra al objeto*/

    border-radius: 5px;/*Redondea el ojeto*/
    
}
#opciones{
    grid-column: span 3;
}
.header{
    background-color: #ff5e00e3;
}
/* .table, #header, #header div, .info{
    border: 1px solid rgb(0, 0, 0);
} */