#menu{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
}
#menu a, #menu #bienvenido{
    background-color: #FCE181;
    padding: 0.1% 1%;
    margin: 0.1%;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 0.45em;/*Redondea el ojeto*/
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    font-size: 1.2em; /*se multiplica el valor padre de letra por 1.2em*/
    color: black;
    flex: 1;
}
#menu a:hover{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: #ffb404;
}
#menu a:active{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: #d0fb6c;
}
#menu #bienvenido{
    background-color:#ff8e04;
}
/*#menu #inicio{
}
#menu #empleados{
    width: 20%;
}
#menu #productos{
    width: 15%;
}
#menu #promociones{
    width: 20%;
}
#menu #pedidos{
    width: 15%;
}

#menu #cerrar{
    width: 20%;
} */