#menu{
    width: 100%;
    display:flex;
    align-items:start;
    justify-content: space-between;
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
}
#menu a, #menu #bienvenido{
    background-color: #FCE181;
    padding: 0.1% 0.01%;
    margin: 0.1%;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 0.45em;/*Redondea el ojeto*/
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    font-size: 1.2em; /*se multiplica el valor padre de letra por 1.2em*/
    color: black;
}
#menu a:hover{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: #ffb404;
}
#menu a:active{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: #6cfbb6;
}
#menu #inicio{
    width: 8%;
}
#menu #empleados{
    width: 15%;
}
#menu #productos{
    width: 15%;
}
#menu #promociones{
    width: 18%;
}
#menu #pedidos{
    width: 15%;
}
#menu #bienvenido{
    background-color:#ece8ef;
    width: 28%;
}
#menu #cerrar{
    width: 17%;

}