*{
    text-align: center;
}
body{
    background-color: rgba(158, 155, 155, 0.695);
}
.ultimo{
    font-size:12px;
    color:#CCC;
}
.tabla{
    margin: auto;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(237, 118, 43, 0.746);
} 
.tabla td{
    width: 40px;
    height:40px;
    border:1px solid rgb(0, 0, 0);
    text-align:center;
}
a:link, a:visited {/*Estilo sobre el link visitado o no visitados por el usuario*/
    background-color: #3ca205;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius:35px;
}  
a:hover, a:active { /*Estilo cuando se selecciona y se pasa el mouse por encima*/
    background-color: rgb(104, 231, 13);
}