:root{
    --mainPalette-color: #a7c8e6;
    --redPalette-color: #a92626;
    --bluePalette-color: #5d84a7;
    --whitePalette-color: #ffffff;
    --greyPalette-color: #999999;
}
body{
    background: linear-gradient(180deg,var(--whitePalette-color),var(--mainPalette-color)); /*Ajusta el degradado de los colores*/
    font-size: 14px;
}
a{
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    color: black;
}
#data{
    display:grid;
    grid-template-columns: 35% 40% 25%;
    grid-template-rows: repeat(8,60px);
    height: auto;
    margin: 2% auto;
    width: 75%;
    font-size: 160%;
    font-family: 'Segoe UI';
}
#data #imagen{
    margin: auto;
    grid-column: 1;
    grid-row: 1 / 8;
    border-radius: 1em; /* Redondea el ojeto */
    max-width: 65%;
    height: auto;
    box-shadow: 0 0 50px var(--bluePalette-color); /*Le da una sobra al objeto*/

    text-align: center;
}
#data #nombre{
    font-size: 1.75em;
    grid-column: 2;
    grid-row: 2;
}
#data #costo{
    grid-column: 2;
    grid-row: 3;
}
#data #codigo{
    grid-column: 2;
    grid-row: 4;
}
#data #stock{
    grid-column: 2;
    grid-row: 5;
}
#data #cantidad{
    grid-column: 2;
    grid-row: 6;
}
#data #cantidad input{
    min-width: 10%;
    width: 30%;
    max-width: 50%;
    height: 60%;
    margin:0;
    padding: 0%;
    text-align: center;
    font-size: 1em;
    border-radius: 0.35em;
}
#data #añadirCarrito{
    grid-column: 2;
    grid-row: 8;
    width: 40%;

}
#data #comprar{
    grid-column: 3;
    grid-row: 8;
    width: 60%;
}
#data #regresar{
    grid-column: 3;
    grid-row: 1;
    width: 60%; 
}
a#comprar, #añadirCarrito,a#regresar{
    border-radius: 0.45em;
    background-color: var(--bluePalette-color);
    color:var(--whitePalette-color);
    display:grid;
    place-items: center;
    text-align: center;
}
#descripcion{
    grid-column: 3;
    grid-row: 2 / 8;
    padding: 4% 2% 2% 2%;
    font-size: 0.95em;
}
#data *:not(#imagen):not(b){
    margin: 1% 10%
}
#data #label{
    margin-right: 6%;
}
.productos{
    display:grid;
    grid-template-columns: repeat(3,33.333%);
    height: auto;
    margin: auto;
    width: 65%;
    grid-gap: 0.3%;
}
.productos [id^='producto']{
    display: flex; /* Usa flexbox para alinear elementos */
    flex-direction: column; /* Acomoda los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */ 
    margin: auto 2%;
    padding: auto;
    min-height: 270px;
    font-size: 1.4em;
    font-family: Arial;
    background-color: var(--greyPalette-color);
    min-width:min-content;
    max-width: 98%;
    border-radius: 2em;/*Redondea el ojeto*/
    box-shadow: 0 0 10px #00000061; /*Le da una sobra al objeto*/
}
[id^='producto'] div, [id^='producto'] a{
    margin: 0.6%;
    padding: 0 4%;
    text-align: center;
}
[id^='producto'] #imagen{
    max-width: 38%;
    height: auto;
    margin-bottom: 2.5%;
    border-radius: 0.35em; /* Redondea el ojeto */
}
#similares{
    font-size: 150%;
    margin: 3% 14% 1% 19%;
    text-align: justify;
}
footer{
    text-align: center;
    margin-top: 5%;
}

a#comprar:hover, a#regresar:hover, #añadirCarrito:hover{
    background-color: var(--mainPalette-color);
}
a#comprar:active, a#regresar:active, #añadirCarrito:active{
    background-color: var(--redPalette-color);
}
#data #mensaje{
    padding: 1%;
    font-size: 0.95em;
    width: 80%;
    color:#ff0000;
    border: 3px dashed#e97979;/*e97979*/
    margin: 2% auto auto 15%;
    grid-column: 2;
    grid-row: 7;
    background-color: aliceblue;
}