:root{
    --mainPalette-color: #c6d5e3;
    --redPalette-color: #a92626;
    --bluePalette-color: #5d84a7;
    --whitePalette-color: #ffffff;
    --greyPalette-color: #999999;
}
body{
    background: linear-gradient(-145deg,var(--mainPalette-color),var(--whitePalette-color)); /*Ajusta el degradado de los colores*/
    font-size: 14px;
}
a{
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    color:black;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    
}
.banner img{
    width: 600px;
    height: 200px;
    border-radius: 0.5em; /* Redondea el ojeto */
}
.productos{
    display:grid;
    grid-template-columns: repeat(3,auto);
    padding: 1% 8%;
    height: auto;
    margin: auto;
    width: 55%;
    grid-gap: 0.8%;
}
.productos [id^='producto']{
    display: flex; /* Usa flexbox para alinear elementos */
    flex-direction: column; /* Acomoda los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: auto;
    padding: 0 5%;
    min-height: 300px;
    font-size: 1.4em;
    font-family: Arial;
    background-color: var(--greyPalette-color);
    min-width:min-content;
    border-radius: 2em;/*Redondea el ojeto*/
    box-shadow: 0 0 10px #00000061; /*Le da una sobra al objeto*/
}
[id^='producto'] div, [id^='producto'] a{
    margin: 0.6%;
    border-radius: 0.45em;
}
[id^='producto'] .imagen{
    max-width: 75%;
    height: auto;
    margin-bottom: 2.5%;
    border-radius: 0.35em; /* Redondea el ojeto */
    text-align: center;
}
.paginacion{
    margin-top: 2%;
    text-align: center;
}
.paginacion [id^='pagina']{
    margin: 0.5;
    padding: 0.5%;
    background-color: var(--bluePalette-color);
    /* border-radius: 0.45em;Redondea el ojeto */
}
#nombre{
    color: #013d71;
}
#agregar{
    background-color: var(--bluePalette-color);
    color:var(--whitePalette-color);
    padding:1%;
}
#nombre:hover{
    color:var(--mainPalette-color);
}
#agregar:hover{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: var(--mainPalette-color);
}
#nombre:active{
    color: var(--redPalette-color);
}

#agregar:active{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: var(--redPalette-color);
}
footer{
    text-align: center;
    margin-top: 5%;
}
