#menu{
    width: 100%;
    display:flex;
}
#menu a:not(#logo), #menu div{
    background-color: var(--bluePalette-color);
    padding: 1% 0%;
    margin-bottom: 1%;
    text-align: center;
    /* border: 1px solid #000000;
    border-radius: 0.45em;Redondea el ojeto */
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    font-size: 1.4em; /*se multiplica el valor padre de letra por 1.2em*/
    color:white;
    flex:1;
}
#menu a:not(#logo):hover{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: var(--greyPalette-color);
}
#menu a:not(#logo):active{ /*Se aplica atributo cuando el mouse pasa encima de el*/
    background-color: var(--redPalette-color);
}
#menu #logo{
    width: 5.6%;
    text-align: left;
}
#menu #logo img{
    width: 100%;
}