:root{
    --mainPalette-color: #a7c8e6;
    --redPalette-color: #a92626;
    --bluePalette-color: #5d84a7;
    --whitePalette-color: #ffffff;
    --greyPalette-color: #999999;
}
body{
    background: linear-gradient(-190deg,var(--mainPalette-color),var(--greyPalette-color)); /*Ajusta el degradado de los colores*/
    font-size: 14px;
}
h1{
    text-align: center;
}
a{
    text-decoration: none; /*para quitar el subrayado del link (boton)*/
    color: black;
}
#carrito{
    border-collapse: collapse; 
    width: 75%;
    margin: 4% auto 1% auto; 
    min-width: 450px; 
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.15); 
    font-size: 1.2em;
    font-family: 'Segoe UI';
    border-radius: 0.45em;
}
#carrito thead tr, #carrito #total, #carrito #resTotal{ 
    background-color: var(--greyPalette-color); 
    color: var(--whitePalette-color); 
}
#carrito #imagen{ 
    width: 10%;
}
#carrito img{ 
    width: 100%;
}
#carrito #descripcion{ 
    width: 25%;
    max-width: 165px;
    word-break: break-all;
    text-align: left;
}
#carrito th, #carrito td { 
    padding: 1% 2%; 
    text-align: center;
}
#carrito tbody tr { 
    border-bottom: 1px solid var(--greyPalette-color); 
} 
#carrito tbody tr:nth-of-type(even) { 
    background-color: #bdbbbbb7; 
} 
#carrito tbody tr:last-of-type { 
    border-bottom: 1px solid var(--greyPalette-color); 
}
#carrito #cantidadProducto{
    padding: 0;
}
input[class^='cantidadProducto']{
    width: 90%;
    border-radius: 0.45em;
    padding: 6%;
    background-color: var(--whitePalette-color);
}
a#eliminar, a#continuar, a#regresar{
    background-color: var(--bluePalette-color);
    color:var(--whitePalette-color);
    padding:1%;
    text-align: center;
    border-radius: 0.45em;
    display:grid;
    place-content: center;
    font-size: 1.2em;
    font-family: 'Segoe UI';
}
a#continuar{
    width: 12%;
    padding: 0.5%;
}
#btnContinuar{
    display: flex;
    justify-content: flex-end;
    margin: 0 12%;
}
footer{
    text-align: center;
    margin-top: 5%;
}
a#eliminar:hover, a#continuar:hover, a#continuar:hover{
    background-color: var(--mainPalette-color);
}
a#eliminar:active, a#continuar:active, a#continuar:active{
    background-color: var(--redPalette-color);
}
#divMensaje{
    display: flex;
    justify-content: flex-end;
    margin: auto 12% 1% auto;
    padding: 0.2%;
}
#mensaje{
    padding: 1%;
    font-size: 1.3em;
    width: 20%;
    padding: 1%;
    color:#ff0000;
    border: 3px dashed#e97979;
    text-align: center;
}
#carga img{
    height: 55%;
}